<div class="container-fluid">

  <div class="row mt-5">
    <div class="col">
      <h1>
        階層構造を持つデータに対する SelectBox の動作サンプル
      </h1>
      <div class="grid-container">
        <select style="grid-row: 1 / -1; grid-column: 1 / 1;" class="select" name="left" [size]="10"
          (change)="leftSelectedChanged()" [(ngModel)]="leftSelectBoxModel">
          <option *ngFor="let i of leftList" [value]="i">{{i}}</option>
        </select>
        <div style="grid-row: 1; grid-column: 2;">
          <button style="width: 100%;" class="btn btn-sm btn-secondary" [disabled]="!upButtonEnabled"
            (click)="moveToUp()">↑</button>
        </div>
        <div style="grid-row: 2; grid-column: 2;">
          <button style="width: 100%;" class="btn btn-sm btn-secondary" [disabled]="!leftSelectBoxModel"
            (click)="moveToRight()">→</button>
        </div>
        <div style="grid-row: 3; grid-column: 2;">
          <button style="width: 100%;" class="btn btn-sm btn-secondary" [disabled]="!rightSelectBoxModel"
            (click)="moveToLeft()">←</button>
        </div>
        <div style="grid-row: 4; grid-column: 2;">
          <button style="width: 100%;" class="btn btn-sm btn-secondary" [disabled]="!downButtonEnabled"
            (click)="moveToDown()">↓</button>
        </div>
        <select class="select" name="right" [size]="10" (change)="rightSelectedChanged()"
          style="grid-row: 1 / -1; grid-column: 3 / 3;" [(ngModel)]="rightSelectBoxModel">
          <option *ngFor="let i of rightList" [value]="i">{{i}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h1>左側の木構造</h1>
      <div [innerHTML]="leftTreeHtml"></div>
    </div>
    <div class="col">
      <h1>部分木<sup *ngIf="!!selectedSubTreeHtml">※1</sup></h1>
      <div [innerHTML]="selectedSubTreeHtml"></div>
      <div *ngIf="!!selectedSubTreeHtml">
        <small>
          ※1: 選択されたノード、およびそのすべての子ノードを含む部分木です。
        </small>
      </div>
    </div>
    <div class="col">
      <h1>右側の木構造</h1>
      <div [innerHTML]="rightTreeHtml"></div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h1>つくったひと</h1>
      <div>
        しだっち
      </div>
    </div>
  </div>